.custom-card {
    width: 400px;
    height: 390px;
    background-color: rgba(28, 28, 28, 0.8);
    color: white;
    border: rgb(26, 26, 26) 1px solid;
    border-radius: 10px;
}

.card-image-container {
    height: 200px;
    overflow: hidden;
    border:rgb(26, 26, 26) 1px solid;
}

.card-image {
    width: 100%;
    height: 100%;
}

.card-title {
    font-size: 20px;
    margin: 0;
}

.card-status {
    text-align: right;
}

.card-text {
    margin: 0;
}

.badge-rented .ant-badge-status-text,
.badge-available .ant-badge-status-text {
    color: white;
}

.card-text-bold {
    font-weight: bold;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
    display: flex;
    justify-content: space-between;
}

.modal-ok-button {
    margin-right: 8px;
}

.modal-cancel-button {
    margin-right: 8px;
}