.text {
  font-family: "Yanone Kaffeesatz", sans-serif;

  font-size: 35px;
  color: rgb(255, 255, 255);
  display: flex;
  position: absolute;

  transform: translateX(-50%);
  user-select: none;

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;

    .letter {
      transition: ease-out 1s;
      transform: translateY(40%);
      font-size: 20px;
      color: rgb(0, 0, 0);
    }

    .shadow {
      transform: scale(1, -1);
      color: rgb(105, 105, 105);
      transition: ease-in 5s, ease-out 5s;
    }

    &:hover {
      .letter {
        transform: translateY(-200%);
      }

      .shadow {
        opacity: 0;
        transform: translateY(200%);
      }
    }
  }
}

.filled_edit_button {
  padding: 0.3rem 0.4rem;
  height: 50px;
  width: 240px;

}


.menu {
  width: 90vw;
  height: 4rem;
  display: flex;
  font-size: 19px;
  align-items: center;
  background-color: black;
    // // background-image: linear-gradient(to right top, #e8e8e8, #e8e8ec, #e7e9f1, #e5eaf6, #e1ebfa, #e0ebfa, #e0ecfb, #dfecfb, #e2ebf8, #e4ebf4, #e6eaf1, #e8eaed);
    color: white;
  :hover {
    background-color: #000000;
    color: rgb(255, 252, 252);
  }
}

.user_search_box {
  min-width: 500px;

  input {
    height: 30rem;
  }

  button {
    height: 40rem;
  }
}