* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #c8e2e0;
  background-image: url("./image/wave\ \(1\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.loginContainer {
  font-size: 14px;
}

.loginCard {
  width: 50vw;
  height: 70vh;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  display: flex;
  background: #ffffff;
}

.loginCard > div:first-child {
  width: 50%;
  background-color: #abb9a5;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginCard > div:last-child {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
}

@media screen and (max-width: 800px) {
  .loginCard > div:first-child {
    display: none;
  }
}

.mySwiper {
  width: 40%;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.registerContainer {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("./image/wave\ \(2\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.theme-light {
  background-color: #fff;
  color: #000;
}

.theme-dark {
  background-color: #000;
  color: #fff;
}

.register {
  width: 50vw;
  height: 40vh;
  box-shadow: rgb(0 0 0 / 40%) 0px 3px 8px;
  display: flex;
  text-align: center;
  background: #ffffff;
  padding-left: 2rem;
}
h1 {
  font-size: 50px;
  font-weight: 450;
  color: #000;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  height: 30rem;
  background-color: #000;
  margin-inline-end: 8px;
}

.ant-upload-rtl.upload-list-inline .ant-upload-list-item {
  float: right;
}

.carousel {
  position: relative;
  width: 40%;
  border: 2px solid rgb(0, 0, 0);
}
.click {
  position: absolute;
  /* padding:20px; */
  border-radius: 16px;
  bottom: 5rem;
  left: 100px;
}

.site-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.search_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20rem;
}
